body {
    background: linear-gradient(180deg, #11142E 0%, #000212 100%);
    font-family: 'Arial','Arial Black', sans-serif;
    font-weight: bold;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white; 
    font-size: 30px;
}

h1 {
    margin-top: 80px;
    margin-bottom: 10px;
    font-family: Arial;
    font-size: 80px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

h2 {
    font-family: Arial Black;
    font-size: 50px;
    margin-top: 0;
    margin-bottom: 20px;
    width: 450px;
}

h3 {
    font-family: Arial Black;
    font-size: 100px;
    margin-top: 0;
    margin-bottom: 20px;
}

.p1 {
    margin: 30px 0 0 0;
}

.p2 {
    font-size: 20px;
    margin: 30px 0 30px 0;
}

button {
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial Black;
    margin: 10px 0;
    border: none;
    padding: 20px 40px;
    color: white;
    font-size: 34px;
    font-style: normal;
    line-height: normal;
    width: 400px;
    border-radius: 10px;
   
}

#increment-btn {
    background: linear-gradient(0deg, #ed6ea0 0%, #ec8c69 100%);
}

#increment-btn:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(90deg, #ED6EA0 0%, #EC8C69 100%);
}

#save-btn {
    background: linear-gradient(0deg, #5f72bd 0%, #9b23ea 100%);
}

#save-btn:hover {
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(90deg, #5F72BD 0%, #9B23EA 100%);
}

.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 50px 100px;
    padding: 60px 250px;
    max-width: 500px;
    border-radius: 20px;
    border: 1px solid #653DD2;
    background: #22253F;
}